.kospi-btn{
  background-color: #0085CA;
  border-color: #0085CA;
  pointer-events: none;
}

.kosdaq-btn{
  background-color: #CA0043;
  border-color: #CA0043;
  pointer-events: none;
}

#kospi-btn, #kosdaq-btn{
  border: none;
}

#kospi-btn:hover{
  background-color: #0085CA;
}

#kosdaq-btn:hover{
  background-color: #CA0043;
}

div.info-tip{
    position: absolute;
    bottom:220%;
    min-width:245px;
    width: auto;
    color: #fff;
    background: rgb(0,0,0,0.8);
    height: 70px;
    text-align: left;
    visibility: hidden;
    border: 1px red solid;
    border-radius: 6px;
    font-size:12px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

div.info-tip:after {
  position: absolute;
  bottom: 50%;
  right:100%;
  width: 0;
  margin-right: -6px;
  border-top: 7px solid hsla(0, 0%, 0%, 0.8);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  content: " ";
  transform: rotate(90deg)
}

div.info-box{
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid blue;
  height: 90%;
  width: 90%;

}

span.description{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
}

text#x-label{
  padding-top: 30px;
  text-align: center;
  font-size:15px;
}

.dash-stroke{
  stroke:#777;
  stroke-dasharray: 2,2;
}

.project-description{
  font-size: 20px;
}
/*
div.info-tip:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
} */
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
